body {
  height: 100dvh;
  background-color: #f0f2f5;
  font: normal 15pt arial;
}

header {
  color: #65676b;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px;
}

.content {
  padding: 68px 16px;
}

section {
  width: 500px;
  height: 350px;
}

.card-template {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

.cursor-context {
  cursor: context-menu;
}

/* TABs */
.nav-link,
.nav-link:focus,
.nav-link:hover {
  color: #36c682;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #36c682;
}

/* Multiplication Table */
.input-number-multiplication {
  outline: none;
  border: solid #36c682 4px;
  border-radius: 4px 0 0 4px;
}

.button-multiplication {
  background-color: #36c682;
  color: white;
  border-radius: 0 4px 4px 0;
  border: none;
  padding: 10px 10px;
}

.multiplication-table {
  height: 80%;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Calculator */
.show-result {
  height: 30%;
  padding: 10px 10px 4px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.show-result .input-number-calculator {
  border: none;
  outline: none;
}

.button-stl {
  width: 100%;
  cursor: pointer;
  padding: 8px 30px;
  user-select: none;
  text-align: center;
  box-sizing: border-box;
}

.button-action {
  background: #5f6368;
  color: #e8eaed;
  border: 1px solid #5f6368;
  border-radius: 4px;
}

.button-equal {
  background-color: #36c682;
  border: 1px solid #36c682;
  border-radius: 4px;
}

.button-number {
  background: #3c4043;
  color: #e8eaed;
  border: 1px solid #3c4043;
  border-radius: 4px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: #65676b;
  text-align: center;
  font-style: italic;
}
